/* CSS Document */

body{
	font-family:Lato, 'Lato Black', 'Lato Heavy', 'Lato Light', 'Lato Medium', 'Lato Semibold', 'Lato Thin';
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important ;
}
.img-1{
	position: relative;
	background-image: url("images/bg-masthead.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-2{
	background-image: url("images/bg-masthead.jpg");
	background-size:cover;
	background-attachment: fixed;
}

.br-1 {
	height:500%;
}

.text-1 {
	padding: 10%;
}


.icon-1 {
	font-size:500%;
}
.text-resize {
	font-size: 25%;
	font-weight: 300
}

.text-2 {
	margin:0px auto;
}

.list {
	display: inline-block;
	padding-right: 3%
}

.icon-2 {
	font-size:200% 
}

.zoom {
	transition: transform .2s;
}
.dark {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
}
.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.font-size {
	font-size: 300%;
}

.parent:hover .zoom,
.parent:focus .zoom{
	transform: scale(1.25)
}

.pad-text {
	padding:100px;
}


.text-decorate p{
	font-size:110%;
	font-weight: 300;
}
.padding-y {
	padding-bottom: 6%;
	padding-top: 6%;
}
.text-decorate-3 {
	font-size:80%;
}
.list-2 {
	display: inline-block;
	padding-right: 5%;
	font-size: 200%;
}
@media (max-width:768px){
	.font-size{
		font-size: 200%;
	}	
	.media-fix{
		margin-top: 3%;
	}
	.icon-1{
		font-size: 400%;
	}
	.icon-1 h2{
		font-size:50%;
	}
	.text-decorate p{
		font-size:100%;
	}
	.text-decorate{
		padding: 10%;
	}
}


#mybtn {
	display: none;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	bottom: 30px;
	right:30px;
	transition: transform .2s;
}
#mybtn:hover{
	transform: scale(1.25);
}
